# Dependencies
node_modules/

# Environment variables
.env
.env.vercel.decrypted

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*
.vercel
